.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Adicione a classe 'hidden' e defina a opacidade inicial */
.container,
.header,
.content,
.footer {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adiciona uma transição suave de 0.5 segundos */
}

/* Remove a classe 'hidden' e ajusta a opacidade para revelar os elementos */
.container:not(.hidden),
.header:not(.hidden),
.content:not(.hidden),
.footer:not(.hidden) {
    opacity: 1;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para telas maiores que 600 pixels */
@media screen and (min-width: 600px) {
    .header, .content, .footer {
        padding: 20px;
    }
}

/* Estilos para telas menores que 600 pixels */
@media screen and (max-width: 600px) {
    .header, .content, .footer {
        padding: 10px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}